.tituloHome {
  font-size: 32px;
  color: #111827;
}

.subtituloHome {
  color: #64748b;
  margin-top: 6px;
}

.headerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.novoInquilino {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  min-width: 200px;
}

.cardsHome {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.tituloCards {
  font-size: 28px;
  margin-top: 70px;
  margin-bottom: 28px;
}